<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:text-align="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="Sporteezone"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>

    <title>Sporteezone</title>

</head>

<body>

<p th:text="${msg}">tady bude zpráva</p>
<h2 th:text="${fitko}">tady bude zpráva</h2>


</body>
</html>

